
<div class="products">
    <div class="product">
        <mat-card class="example-card"> 
            <mat-card-content>
                <p>
                    Amazon Basics Support d'ordinateur portable en aluminium Argenté
                </p>
                <p>22,99 €</p>
            </mat-card-content>
            <img src="https://m.media-amazon.com/images/I/91I7CmeK6lL._AC_SX451_SY423_.jpg" alt="">
            <mat-card-actions>
                <button class="bouton_panier" mat-button>ajouter au panier</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="product">
        <mat-card class="example-card"> 
            <mat-card-content>
                <p>
                    Amazon Basics Support d'ordinateur portable en aluminium Argenté
                </p>
                <p>22,99 €</p>
            </mat-card-content>
            <img src="https://m.media-amazon.com/images/I/91I7CmeK6lL._AC_SX451_SY423_.jpg" alt="">
            <mat-card-actions>
                <button class="bouton_panier" mat-button>ajouter au panier</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="product">
        <mat-card class="example-card"> 
            <mat-card-content>
                <p>
                    Amazon Basics - Support de moniteur réglable
                </p>
                <p>22,99 €</p>
            </mat-card-content>
            <img src="https://m.media-amazon.com/images/I/61x+X+FNU-S._AC_SX451_SY423_.jpg" alt="">
            <mat-card-actions>
                <button class="bouton_panier" mat-button>ajouter au panier</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="product">
        <mat-card class="example-card"> 
            <mat-card-content>
                <p>
                    Amazon Basics Housse pour ordinateur portable 17,3" - Bleu clair
                </p>
                <p>22,99 €</p>
            </mat-card-content>
            <img src="https://m.media-amazon.com/images/I/A1o+rtM10GL._AC_SX451_SY423_.jpg" alt="">
            <mat-card-actions>
                <button class="bouton_panier" mat-button>ajouter au panier</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div class="product">
        <mat-card class="example-card"> 
            <mat-card-content>
                <p>
                    Amazon Basics Sacoche pour Ordinateur Portable, Feutre, pour Écran jusqu'à 11 Pouces, Gris Clair
                </p>
                <p>22,99 €</p>
            </mat-card-content>
            <img src="https://m.media-amazon.com/images/I/91oWNg5GSML._AC_SX425_.jpg" alt="">
            <mat-card-actions>
                <button class="bouton_panier" mat-button>ajouter au panier</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>