<h1>ajouter etudiant!</h1>

<div *ngIf="message" class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>L'étudiant a bien été enregistré</strong> merci!.
    <button (click)="removeMessage()" type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<form [formGroup]="addStudent" (ngSubmit)="saveData()" >

    <div class="mb-3">
        <label class="form-label">name</label>
        <input type="text" class="form-control" placeholder="entre ton nom" formControlName="name">
    </div>

    <div class="mb-3">
      <label class="form-label">email</label>
      <input type="email" class="form-control" placeholder="entre ton email" formControlName="email">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


