<div class="header">
    <nav class="header_top">
      <div class="header_menu">
        <img class="header_menu_logo" src="https://upload.wikimedia.org/wikipedia/donate/thumb/f/fd/Amazon-logo-white.svg/2560px-Amazon-logo-white.svg.png" alt="">
      </div>
  
      <div class="header_menu_sign_in">
        <div class="header_menu_top_item">
          Bonjour
        </div>
        <div class="header_menu_bottom_item">
          Entrez votre adresse
        </div>
      </div>
  
      <div class="header_menu_searchbar">
        <input type="text" class="header_menu_input">
        <div class="header_menu_searchbar_icon">
          <mat-icon class="recherche_icon">search</mat-icon>
        </div>
      </div>
      
      <div class="header_menu_sign_in">
        <div class="header_menu_top_item">
          Bonjour, Identifiez-vous
        </div>
        <div class="header_menu_bottom_item">
          Compte et listes
        </div>
      </div>
  
      <div class="header_menu_sign_in">
        <div class="header_menu_top_item">
          Retour
        </div>
        <div class="header_menu_bottom_item">
          et commandes
        </div>
      </div>
  
      <div class="header_menu_cart">
        <p class="header_cart_number"> {{ shoppingCart.getCartLength().length}} </p>
        <mat-icon>shopping_cart</mat-icon>
      </div>
  
    </nav>
  </div>
  
  <div class="menu">
    <nav class="header_botton">
      <div class="header_menu_icon">
        <mat-icon>menu</mat-icon>
      </div>
  
      <div class="navigation">
        <a href="">Amazone basics</a>
      </div>
      <div class="navigation">
        <a href="">Acheter à nouveau</a>
      </div>
      <div class="navigation">
        <a href="">Prime</a>
      </div>
      <div class="navigation">
        <a href="">Vente Flash</a>
      </div>
      <div class="navigation">
        <a href="">Meilleurs Ventes</a>
      </div>
      <div class="navigation">
        <a href="">Service Client</a>
      </div>
      <div class="navigation">
        <a href="">Idées Cadeaux</a>
      </div>
      <div class="navigation">
        <a href="">Livres</a>
      </div>
      <div class="navigation">
        <a href="">Cheques Cadeaux</a>
      </div>
      <div class="navigation">
        <a href="">Historique De Navigation</a>
      </div>
      <div class="navigation">
        <a href="">Coupons</a>
      </div>
      <div class="navigation">
        <a href="">Dernieres Nouveautés</a>
      </div>
  
    </nav>
</div>