<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-info">Detail contact</p>
            <p class="fst-italic">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, saepe suscipit amet animi laudantium beatae. Earum, asperiores dignissimos, rerum ex pariatur ab, officia ducimus voluptatibus molestiae beatae nulla facere ratione.
                Voluptatem, eligendi tempora. Impedit tempore quaerat beatae laboriosam autem officia quo reprehenderit possimus dolore hic exercitationem officiis debitis sapiente excepturi, esse optio? Recusandae rerum, tempore explicabo aut nobis magni atque.
            </p>
        </div>
    </div>
</div>

<!-- contact detail -->

<div class="container">
    <div class="row align-items-center">
        <div class="col-sm-4 ">
            <img class="contact-image-big" src="https://i.pinimg.com/originals/6f/5e/13/6f5e1344a96a22a14f79bd2a7b4723a8.png" alt="">
        </div>
        <div class="col-sm-6">
            <ul class="list-group">
                <li class="list-group-item list-group-item-danger">nom: <span class="fw-bold">nom</span> </li>
                <li class="list-group-item list-group-item-success">email: <span class="fw-bold">email</span> </li>
                <li class="list-group-item list-group-item-danger">mobile: <span class="fw-bold">mobile</span> </li>
                <li class="list-group-item list-group-item-success">Entreprise: <span class="fw-bold">Entreprise</span> </li>
                <li class="list-group-item list-group-item-danger">titre: <span class="fw-bold">titre</span> </li>
                <li class="list-group-item list-group-item-success">groupe: <span class="fw-bold">groupe</span> </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <a routerLink="/" class="btn btn-info mt-4"> <i class="fa fa-arrow-alt-circle-left"></i> Retour</a>
        </div>
    </div>
</div>


