<div class="card">

    <div class="card-header text-white bg-info">
        s'enregistrer
    </div>

    <div class="card-body">

        <form>

            <div class="row gx-3 gy-2 align-items-center">

                <div class="col-md-6 mb-3">
                    <label for="">nom</label>
                    <input type="text" class="form-control" placeholder="nom">
                </div>
                <div class="col-md-6 mb-3">
                    <label for="">prenom</label>
                    <input type="text" class="form-control" placeholder="prenom">
                </div>

            </div>

            <div class="row gx-3 gy-2 align-items-center">

                <div class="col-md-6 mb-3">
                    <label for="">email</label>
                    <input type="email" class="form-control" placeholder="email">
                </div>

            </div>

            <div class="text-right">
                <button class="btn btn-info">
                    sauvegarder
                </button>
            </div>


        </form>
    </div>

</div>