.home-container {
    .all-movies {
        width: 75%;
        min-height: calc(100vh - 80px);
        border-right: 1px solid yellow;
        padding: 20px 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;

            h4 {
                text-transform: uppercase;
                font-weight: bold;
                border-left: 5px solid yellow;
            }

            .view-all {
                color: green;
                cursor: pointer;
            }
        }

        .movies-thumbnail {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .movie {
                .cover {
                    margin-top: 10px;
                    img {
                        border-radius: 3px;
                    }
                }

                .detail {
                    width: 180px;
                    margin-bottom: 30px;

                    .name {
                        font-weight: bold;
                        height: 50px;
                        margin-top: 5px;
                        cursor: pointer;
                    }

                    .rating {

                        .star {
                            position: relative;
                            display: inline-block;
                            font-size: 2rem;
                            color: #d3d3d3;
                            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
                            cursor: pointer;
                        }

                        .full {
                            color: rgb(0, 255, 106);
                        }
                        .half {
                            position: absolute;
                            display: inline-block;
                            overflow: hidden;
                            color: rgb(178, 72, 137);
                        }

                    }
                }
            }
        }
    }

    .popular-movies {
        width: 25%;
        min-height: calc(100vh - 80px);
        padding: 20px 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
}