<h1 class="center">Liste de pokemons - </h1>

<div class="container ">
    <div class="row">

        <app-search-pokemon></app-search-pokemon>

        <div *ngFor="let pokemon of pokemonList" class="col m4 s6">
            <div class="card horizontal curseur-pointer" pkmnBorderCard="red" (click)="goToPokemon(pokemon)" >
                <div class="card-image">
                    <img [src]="pokemon.picture" alt="">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>{{pokemon.name}} </p>
                        <p><small>{{pokemon.created | dateTimeAgo }} </small></p>  <!--date:"dd/MM/yyyy"-->
                        <span *ngFor="let type of pokemon.types" class=" {{ type | pokemonTypeColor }} "> 
                            {{ type }}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a 
    class="btn-floating btn-large waves-effect waves-light red z-depth-4"
    style="position: fixed; bottom: 350px; right: 70px"
    routerLink="/pokemon/add"    
>
    +
</a>