<div class="container">
    <div class="row">
        <div class="col">
            <p class="h3 fw-bold text-info">Ajouter un contact</p>
            <p class="fst-italic">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Distinctio, saepe suscipit amet animi laudantium beatae. Earum, asperiores dignissimos, rerum ex pariatur ab, officia ducimus voluptatibus molestiae beatae nulla facere ratione.
                Voluptatem, eligendi tempora. Impedit tempore quaerat beatae laboriosam autem officia quo reprehenderit possimus dolore hic exercitationem officiis debitis sapiente excepturi, esse optio? Recusandae rerum, tempore explicabo aut nobis magni atque.
            </p>
        </div>
    </div>
</div>

<!-- formulaire d'ajout de contact -->

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form action="">
                <div class="mb-2">
                    <input class="form-control" placeholder="nom" type="text" name="" id="">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="photo url" type="text" name="" id="">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="email" type="email" name="" id="">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="mobile" type="number" name="" id="">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="entreprise" type="text" name="" id="">
                </div>
                <div class="mb-2">
                    <input class="form-control" placeholder="titre" type="text" name="" id="">
                </div>
                <div class="mb-2">
                    <select class="form-control" name="" id="">
                        <option value="">selectionner</option>
                    </select>
                </div>
                <div class="mb-2">
                    <input class="btn btn-danger" value="valider" type="submit" name="" id="">
                    <a routerLink="/" class="btn btn-outline-dark ms-5">fermer</a>
                </div>
            </form>
        </div>

        <div class="col-sm-4">
            <img class="contact-image" src="https://t3.ftcdn.net/jpg/02/28/09/18/360_F_228091811_5wJLPFyinqIlU3UmUdE1EnchaOj6LhpH.jpg" alt="">
        </div>
    </div>
</div>

