<div class="login">
    <div class="login_container">

        <img 
            src="https://mlusk6kjzisu.i.optimole.com/YKEId9o.Zy_l~5b968/w:auto/h:auto/q:mauto/id:a0948ee8fe7b03b2e9e86d54d66735a8/https://logo-creation.com/amazon_logo_history_4.jpg" 
            alt="" 
            class="login_logo"
            >

        <div class="login_form">
            <h1>créer un compte</h1>
            <form [formGroup]="loginForm" >

                <h5>email</h5>
                <input type="email" name="" id="" formControlName="email">

                <h5>mot de passe</h5>
                <input type="password" name="" id="" formControlName="password">

                <button class="login_signIn_button">se connecter</button>

                <p class="login_terms">condition d'utilisation</p>

                <button class="login_create_button">creer un compte amazon</button>


            </form>
        </div>
    </div>
</div>