<h2 *ngIf="hotels && hotels.length > 0">{{ title }}</h2>

<button class="btn btn-primary d-flex" (click)="toggleIsNewBaddge()" >
    <span class="material-icons "> 
        {{ showBadge ? 'visibility_off' : 'visibility' }} 
    </span>
    <span class=" ms-2 me-2">
        {{ showBadge ? 'cacher ' : 'afficher ' }} 
    </span>
    nouveau
</button>

<div class="my">
    <div class="row d-flex">
        <div class="col-md-4">
            <span class="me-4 filter">Filtre actuel:</span>
            <b>{{ hotelFilter}} </b>
        </div>
        <div class="col-md-8 form-group">
            <!-- <input type="text" class="form-control" [ngModel]="hotelFilter" (ngModelChange)="hotelFilter = $event" > -->
            <input type="text" class="form-control" [(ngModel)]="hotelFilter" >
        </div>

    </div>
</div>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <div *ngFor="let hotel of hotels" class="col"   >
      <div class="card" >
        <img [src]="hotel.imageUrl" [title]="hotel.hotelName" class="card-img-top" [alt]="hotel.hotelName">
        <div class="card-body">
          <h5 class="card-title">{{hotel.hotelName | uppercase }} </h5>
          <p class="card-text">{{hotel.description}} </p>
          <span class="badge bg-warning text-dark" *ngIf="showBadge" >Nouveau</span>
        </div>

        <p class="card-text">
            {{ hotel.price | currency : 'EUR' : 'symbol' : '1.2-2' : 'fr' }}
        </p>

      </div>
    </div>
</div>