<!-- Bonjour
{{ this.visibleTodos$ | async | json }} -->

<section class="main" [ngClass]="{hidden: noTodoClass$ | async}" >

    <input 
        type="checkbox" 
        id="toggle-all" 
        class="toggle-all" 
        [checked]="isAllTodosSelected$ | async"
    >
    <label for="toggle-all">mark all as completed</label>

    <ul class="todo-list">
        
        <app-todos-todo 
        *ngFor="let todo of visibleTodos$ | async"
        [todo]="todo" 
        >
        
        </app-todos-todo>
    </ul>


</section>